---
import { getCollection } from "astro:content";
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import Base from '../../layouts/Base.astro';

let title = 'Blog';

const publishedPosts = (await getCollection("posts")).sort(
  (a, b) =>
    new Date(b.data.updatedDate || b.data.pubDate).valueOf() -
    new Date(a.data.updatedDate || a.data.pubDate).valueOf()
).filter((post) => !post.data.draft && !post.data.rssOnly);
---

<Base>
	<div class="content">
		<section aria-label="Blog post list">
			{publishedPosts.length === 0 &&
				<h1 class="latest">Bummer! Nothing yet.</h1>
				<p>Looks like you found this page while it's still being populated. I'm afraid you'll have to try again another time.</p>
			}

			{publishedPosts.length > 0 &&
				<h1 class="latest display">{title}</h1>
				<>
					{publishedPosts.map((p) => <BlogPostPreview post={p} />)}
				</>
			}
		</section>
	</div>
</Base>
