---
import * as prismicH from "@prismicio/helpers";
const props = Astro.props;

// Render the data as HTML
const content = props.primary.content;
const textHTML = prismicH.asHTML(content);
---

<div set:html={textHTML}></div>
