.home {
  .hero {
    flex: 1;
    display: grid;
    grid-template-areas:
      "headshot"
      "intro";
    height: min-content;
    padding: var(--size-5) 0;

    .headshot {
      grid-area: headshot;
      display: grid;
      place-content: center;
      img {
        max-width: 400px;
        margin: 0 auto -10vh;
      }
    }

    .intro {
      grid-area: intro;
      z-index: 100;
      p {font-size: var(--font-size-fluid-1);}

      .branded-text {
        margin-top: 0;
        font-size: var(--font-size-fluid-3);
      }
    }

    @media (min-width: 900px) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
          "intro intro intro intro headshot headshot";

      .headshot > img {
        margin-bottom: 0;

      }
    }
  }

  .content :global(main > * + *) {
		margin-top: 1rem;
	}
}
