@charset "utf-8";

@font-face {
  font-family: MeutasSoft;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/MeutasSoft-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: MeutasSoft;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/MeutasSoft-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: MeutasSoft;
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/MeutasSoft-Black.otf") format("opentype");
  font-display: swap;
}

@import "../../node_modules/open-props/open-props.min.css";
@import "../../node_modules/open-props/normalize.min.css";


:where(html) {
  font-size: 18px;
}

:root {
  --c-green:#4d854a;
  --c-light-green: #40d139;
  --c-red:#ce0063;
  --c-gray-400:#6C6C6C;
  --c-transparent: rgba(0, 0, 0, 0);
  --c-white: #FFF;

  font-family: MeutasSoft, system-ui, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  // Font sizes
  --fs-display: var(--font-size-8);
  --fs-h1: var(--font-size-7);
  --fs-h2: var(--font-size-6);
  --fs-h3: var(--font-size-5);
  --fs-h4: var(--font-size-4);
  --fs-small: var(--font-size-0);

  --text: var(--gray-8);
  --text-strong: var(--gray-8);
  --background: var(--gray-0);
  --link: var(--gray-8);
  --link-decoration: var(--c-green);

  @media (prefers-color-scheme: dark) {
    --text: var(--gray-1);
    --text-strong: var(--gray-1);
    --background: var(--gray-9);
    --background-2: var(--c-gray-400);
    --link:var(--gray-1);
    --link-decoration: var(--c-light-green);
  }
}

$text: var(--text);
$text-strong: var(--text-strong);
$background-color: var(--background);
$navbar-background-color: var(--background);
$font-heading: var(--font-family);
// $font-family: var(--font-family);

@import "global";
@import "header";
@import "footer";
@import "home";
@import "nav";
