.navbar {
  padding-bottom: 3rem;
  .container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    .navbar-menu {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      margin-left: -.125rem;

      .navbar-item {
        margin-right: 2rem;

        &.branded-text {
          margin-left: -.125rem;
          font-weight: 700;
          font-size: 1.25em;
        }
      }

    }

    @media (min-width: 575px) {
      flex-flow: row nowrap;
      align-items: baseline;

      .navbar-menu {
        width: auto;
        justify-self: flex-end;
        margin-left: 0;

        .navbar-item {
          margin-right: 2rem;

          &.branded-text {
            margin-left: 0;
          }
        }
      }
    }
  }
}
