---
import DateTime from './DateTime.astro';
export interface Props {
	post: any;
}

const { post } = Astro.props;
const { id, data } = post;
const { updatedDate, pubDate, title, description } = data;
---

<div class="post-preview">
	<small class="publish-date">
		<p>{updatedDate ? "Updated" : "Posted"} <DateTime date={updatedDate || pubDate} /></p>
	</small>
		<h3 class="title"><a href={`/blog/${id}`}>{title}</a></h3>
		<p>{description}</p>
	<div>
		<a href={`/blog/${id}`}>Read more</a>
	</div>
</div>
