---
import { Icon } from 'astro-icon';

let today = new Date();
let year = today.getFullYear();
---
<footer class="footer">
  <span class="branded-text">© {year} Charles Villard ☕️</span>
  <div class="social">
    <a class="social-link" target="_blank" rel="noreferrer noopener" href="https://twitter.com/cdvillard"><Icon class="icon" name="mdi:twitter" /></a>
    <a class="social-link" target="_blank" rel="noreferrer noopener" href="https://linkedin.com/in/cdvillard"><Icon class="icon" name="mdi:linkedin" /></a>
    <a class="social-link" target="_blank" rel="noreferrer noopener" href="https://www.polywork.com/cdvillard"><Icon class="icon" name="simple-icons:polywork" /></a>
    <a class="social-link" target="_blank" rel="noreferrer noopener" href="https://github.com/cdvillard"><Icon class="icon" name="mdi:github" /></a>
  </div>
</footer>