---
import { Icon } from 'astro-icon';

let today = new Date();
let year = today.getFullYear();
---
<footer class="footer">
  <span>© {year} Charles Villard  ☕️</span>
  <div class="social">
    <a aria-label="link to Charles Villard's Twitter account" class="social-link" target="_blank" rel="noreferrer noopener" href="https://twitter.com/cdvillard">
      <Icon class="icon" name="mdi:twitter" />
    </a>
    <a aria-label="link to Charles Villard's Mastodon account" class="social-link" target="_blank" rel="noreferrer noopener" rel="me" href="https://notacult.social/@charlieDevs">
      <Icon class="icon" name="mdi:mastodon" />
    </a>
    <a aria-label="link to Charles Villard's Linkedin account" class="social-link" target="_blank" rel="noreferrer noopener" href="https://linkedin.com/in/cdvillard">
      <Icon class="icon" name="mdi:linkedin" />
    </a>
    <a aria-label="link to Charles Villard's Polywork account" class="social-link" target="_blank" rel="noreferrer noopener" href="https://www.polywork.com/cdvillard">
      <Icon class="icon" name="simple-icons:polywork" />
    </a>
    <a aria-label="link to Charles Villard's Github account" class="social-link" target="_blank" rel="noreferrer noopener" href="https://github.com/cdvillard">
      <Icon class="icon" name="mdi:github" />
    </a>
  </div>
</footer>
