---
	let { arePostsPublished } = Astro.props;
---
<header class="header">
	<div class="container">
		<a href="/" class="navbar-item display branded-text">
			Charles Villard
		</a>
		<div class="nav">
			<nav id="navbarMenu" class="navbar-menu">
					<a href="/about" class="navbar-item">About</a>
					{
						arePostsPublished &&
						<a href="/blog" class="navbar-item">Blog</a>
					}
			</nav>
			<div class="dark-mode">
				<label for="darkMode">Dark? </label>
				<input id="darkMode" class="navbar-item" type="checkbox">
			</div>
		</div>
	</div>
</header>