---
  let { isHome } = Astro.props;
---
<header class="navbar">
  <div class="container">
    <nav id="navbarMenu" class="navbar-menu">
        <a href="/" class="navbar-item branded-text">Charles Villard</a>
        <a href="/about" class="navbar-item">About</a>
        <a href="/writing" class="navbar-item">Writing</a>
    </nav>
  </div>
</header>