<section class="giscus"></section>

<script
	src="https://giscus.app/client.js"
	data-repo="cdvillard/cdv-blog"
	data-repo-id="R_kgDOHdA8_w"
	data-category="General"
	data-category-id="DIC_kwDOHdA8_84Cc2qT"
	data-mapping="title"
	data-strict="0"
	data-reactions-enabled="1"
	data-emit-metadata="0"
	data-input-position="top"
	data-theme="http://localhost:4321/assets/comments.css"
	data-lang="en"
	data-loading="lazy"
	crossorigin="anonymous"
	async
>
</script>