---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import BaseHead from '../components/BaseHead.astro';
import '../style/main.scss';
let title = 'Charles Villard';
let description = 'Devlog and portfolio of Charles Villard, software engineer';
let permalink = 'https://charlesvillard.co'

const allPosts = await Astro.glob('./../pages/posts/*.mdx');
const publishablePosts = allPosts.filter(({ frontmatter }) => frontmatter.draft !== true);
const sortedPosts = publishablePosts.sort(({ frontmatter: a }, { frontmatter: b }) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---

<html lang="en">
  <head>
		<BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <Navigation arePostsPublished={ sortedPosts.length > 0 }/>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>